[x-cloak] {
  display: none !important;
}
.megaphone .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.megaphone .fixed {
  position: fixed;
}
.megaphone .absolute {
  position: absolute;
}
.megaphone .relative {
  position: relative;
}
.megaphone .top-0 {
  top: 0px;
}
.megaphone .left-0 {
  left: 0px;
}
.megaphone .right-0 {
  right: 0px;
}
.megaphone .z-50 {
  z-index: 50;
}
.megaphone .z-0 {
  z-index: 0;
}
.megaphone .z-30 {
  z-index: 30;
}
.megaphone .my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.megaphone .mt-4 {
  margin-top: 1rem;
}
.megaphone .block {
  display: block;
}
.megaphone .flex {
  display: flex;
}
.megaphone .aspect-square {
  aspect-ratio: 1 / 1;
}
.megaphone .h-full {
  height: 100%;
}
.megaphone .h-2\/5 {
  height: 40%;
}
.megaphone .h-12 {
  height: 3rem;
}
.megaphone .h-screen {
  height: 100vh;
}
.megaphone .h-6 {
  height: 1.5rem;
}
.megaphone .h-8 {
  height: 2rem;
}
.megaphone .h-4\/5 {
  height: 80%;
}
.megaphone .max-h-fit {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.megaphone .w-full {
  width: 100%;
}
.megaphone .w-12 {
  width: 3rem;
}
.megaphone .w-6 {
  width: 1.5rem;
}
.megaphone .w-8 {
  width: 2rem;
}
.megaphone .w-4\/5 {
  width: 80%;
}
.megaphone .flex-shrink-0 {
  flex-shrink: 0;
}
.megaphone .translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.megaphone .transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.megaphone .cursor-pointer {
  cursor: pointer;
}
.megaphone .items-center {
  align-items: center;
}
.megaphone .justify-center {
  justify-content: center;
}
.megaphone .justify-between {
  justify-content: space-between;
}
.megaphone .overflow-y-auto {
  overflow-y: auto;
}
.megaphone .overflow-x-hidden {
  overflow-x: hidden;
}
.megaphone .rounded-full {
  border-radius: 9999px;
}
.megaphone .rounded-md {
  border-radius: 0.375rem;
}
.megaphone .rounded {
  border-radius: 0.25rem;
}
.megaphone .border-2 {
  border-width: 2px;
}
.megaphone .border {
  border-width: 1px;
}
.megaphone .border-b {
  border-bottom-width: 1px;
}
.megaphone .border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.megaphone .border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.megaphone .bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}
.megaphone .bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
.megaphone .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.megaphone .bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.megaphone .fill-black {
  fill: #000;
}
.megaphone .fill-blue-600 {
  fill: #2563eb;
}
.megaphone .fill-red-600 {
  fill: #dc2626;
}
.megaphone .fill-green-600 {
  fill: #16a34a;
}
.megaphone .p-8 {
  padding: 2rem;
}
.megaphone .p-3 {
  padding: 0.75rem;
}
.megaphone .p-2 {
  padding: 0.5rem;
}
.megaphone .px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
.megaphone .px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.megaphone .px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.megaphone .py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.megaphone .pt-3 {
  padding-top: 0.75rem;
}
.megaphone .pt-8 {
  padding-top: 2rem;
}
.megaphone .pb-2 {
  padding-bottom: 0.5rem;
}
.megaphone .pl-3 {
  padding-left: 0.75rem;
}
.megaphone .pr-2 {
  padding-right: 0.5rem;
}
.megaphone .pt-1 {
  padding-top: 0.25rem;
}
.megaphone .text-right {
  text-align: right;
}
.megaphone .font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.megaphone .text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.megaphone .text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.megaphone .text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.megaphone .font-semibold {
  font-weight: 600;
}
.megaphone .font-bold {
  font-weight: 700;
}
.megaphone .leading-5 {
  line-height: 1.25rem;
}
.megaphone .leading-6 {
  line-height: 1.5rem;
}
.megaphone .leading-normal {
  line-height: 1.5;
}
.megaphone .leading-none {
  line-height: 1;
}
.megaphone .leading-3 {
  line-height: .75rem;
}
.megaphone .text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.megaphone .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.megaphone .text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
.megaphone .text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.megaphone .text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.megaphone .text-indigo-700 {
  --tw-text-opacity: 1;
  color: rgb(67 56 202 / var(--tw-text-opacity));
}
.megaphone .no-underline {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.megaphone .shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.megaphone .shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.megaphone .drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.megaphone .transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.megaphone .duration-700 {
  transition-duration: 700ms;
}
.megaphone .ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.megaphone .hover\:bg-gray-300:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.megaphone .focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.megaphone .focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.megaphone .focus\:ring-gray-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity));
}
.megaphone .focus\:ring-offset-2:focus {
  --tw-ring-offset-width: 2px;
}
@media (prefers-color-scheme: dark) {
  .megaphone .dark\:fill-white {
    fill: #fff;
  }
}
@media (min-width: 1536px) {
  .megaphone .\32xl\:w-4\/12 {
    width: 33.333333%;
  }
}
